.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.sloth {
    position: absolute;
    right: 0;
    width: 30vw;
    aspect-ratio: 1/1;
    z-index: -1;
}

@media screen and (max-width: 700px) {
    .sloth { display: none }
}

.user-info, .input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    border-radius: 10px;
    background-color: #D6C7AF;
    padding: 40px;
    margin: 30px;
}

.user-info div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-info img {
    position: relative;
    object-fit: cover;
    border: 3px black solid;
    max-width: 250px;
    aspect-ratio: 1/1;
    z-index: 1;
}

.your-servers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}



.add-server {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    padding: 10px;
    width: calc(50% + 15vh);
}

.input-container div input {
    width: calc(30% + 150px);
}

.desc-in {
    height: 60px;
}

.input-container div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(67, 67, 67);
}


.choose-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.display-image-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}

.display-image-container img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.loader img {
    width: 15%;
    aspect-ratio: 1/1;
    margin: 0;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}